pkgbase = dufs
	pkgdesc = file server with static serving, uploading, searching, accessing control, webdav
	pkgver = 0.43.0
	pkgrel = 1
	url = https://github.com/sigoden/dufs
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = rust
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = xz
	options = !lto
	source = https://github.com/sigoden/dufs/archive/v0.43.0/dufs-0.43.0.tar.gz
	sha512sums = ab162f64cf4a43712a4fa204fe8abdef53bf8876805d15d9a3eaac1617bebc2891f5039ad3e84d5f9516f40ee9bc03cb6d2eaea103828f82bcf83e9ea08e8aec

pkgname = dufs
