pkgbase = dufs
	pkgdesc = file server with static serving, uploading, searching, accessing control, webdav
	pkgver = 0.41.0
	pkgrel = 1
	url = https://github.com/sigoden/dufs
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = rust
	depends = bzip2
	depends = gcc-libs
	depends = glibc
	depends = xz
	options = !lto
	source = https://github.com/sigoden/dufs/archive/v0.41.0/dufs-0.41.0.tar.gz
	sha512sums = ef93d4f456a1b9f3cf73c4763e46e088d477262f4d9f3c55b0c29bce1b345ebf0f649a2f63b251093b2e5fc67629e5a064168f7608411b127ec579027803d5e8

pkgname = dufs
